# Project exclude paths
/.gradle/
/build/
/versions/1.21.1/fabric/.gradle/
/versions/1.21.1/fabric/run/
/versions/1.21.1/fabric/build/
/versions/1.21.1/fabric/build/classes/java/main/
/versions/1.21.1/forge/build/
/versions/1.21.1/forge/run/
/versions/1.21.1/neoforge/.gradle/
/versions/1.21.1/neoforge/build/
/versions/1.21.1/neoforge/run/

/versions/1.21.3/fabric/.gradle/
/versions/1.21.3/fabric/build/
/versions/1.21.3/fabric/run/
/versions/1.21.3/neoforge/.gradle/
/versions/1.21.3/neoforge/build/
/versions/1.21.3/neoforge/run/

/versions/1.21.4/fabric/.gradle/
/versions/1.21.4/fabric/run/
/versions/1.21.4/fabric/build/
/versions/1.21.4/neoforge/.gradle/
/versions/1.21.4/neoforge/build/
/versions/1.21.4/neoforge/run/

/versions/1.21.5/fabric/.gradle/
/versions/1.21.5/fabric/build/
/versions/1.21.5/fabric/run/
/versions/1.21.5/neoforge/.gradle/
/versions/1.21.5/neoforge/build/
/versions/1.21.5/neoforge/run/

/versions/1.21.6/fabric/.gradle/
/versions/1.21.6/fabric/build/
/versions/1.21.6/fabric/run/
/versions/1.21.6/neoforge/.gradle/
/versions/1.21.6/neoforge/build/
/versions/1.21.6/neoforge/run/

/versions/1.21.7/fabric/.gradle/
/versions/1.21.7/fabric/build/
/versions/1.21.7/fabric/run/
/versions/1.21.7/neoforge/.gradle/
/versions/1.21.7/neoforge/build/
/versions/1.21.7/neoforge/run/

/versions/1.21.8/fabric/.gradle/
/versions/1.21.8/fabric/build/
/versions/1.21.8/fabric/run/
/versions/1.21.8/neoforge/.gradle/
/versions/1.21.8/neoforge/build/
/versions/1.21.8/neoforge/run/

/versions/1.21.9/fabric/.gradle/
/versions/1.21.9/fabric/build/
/versions/1.21.9/fabric/run/
/versions/1.21.9/neoforge/.gradle/
/versions/1.21.9/neoforge/build/
/versions/1.21.9/neoforge/run/

/versions/1.21.10/fabric/.gradle/
/versions/1.21.10/fabric/build/
/versions/1.21.10/fabric/run/
/versions/1.21.10/neoforge/.gradle/
/versions/1.21.10/neoforge/build/
/versions/1.21.10/neoforge/run/

/versions/1.21.11/fabric/.gradle/
/versions/1.21.11/fabric/build/
/versions/1.21.11/fabric/run/
/versions/1.21.11/neoforge/.gradle/
/versions/1.21.11/neoforge/build/
/versions/1.21.11/neoforge/run/

gradle.properties